/*

body{
    background-color: white;
}
.TOP{
    background-image: linear-gradient(to right,rgb(39, 39, 163),rgb(30, 30, 148),rgb(0, 0, 42));
    
    
    
}
.HEADING{
    padding-top: 50px;
}

 .container h1{
     padding-top: 0px;
     margin: 0px;
     color: white;
     font-weight:bold;
    
 }
 .container{
    margin-bottom: 50px;
 }

 

 .card{
    box-shadow:1px 1px 10px rgb(10, 0, 41);
    background-image: linear-gradient(to right,rgb(39, 39, 163),rgb(30, 30, 148),rgb(0, 0, 42));
    padding: 4px;
    border:none;
    
    
    
 }
 .col a{
    
    text-decoration: none;
    color: white;
    

 }
 .LISTS{
     margin: 3px;
 }
 .ICONES:hover{
    width: 80px;
   -webkit-transform: translate(2em,0);
   -moz-transform: translate(2em,0);
   -o-transform: translate(2em,0);
   -ms-transform: translate(2em,0);
   transform: translate(2em,0);
   -webkit-transition: 1s ease-in;
   -moz-transition: 1s ease-in;
   -o-transition: 1s ease-in;
   transition: 0.3s ease-in;
}
 
*/




body{
    background-color: rgb(240 242 245);
    overflow-x: hidden;
}
.TOP{
     background-color: #292d33; 
  
    
    
    
}
.HEADING{
    padding-top: 50px;
}

 .container h2{
     padding-top: 0px;
     margin: 0px;
     color: white;
     font-weight:bold;
    
 }
 .container{
    margin-bottom: 50px;
 }

 

 .card{
    
    background:rgba(0, 0, 0, 0.698) linear-gradient( #555c66,#555c66);
    
    background-blend-mode:hard-light;
    padding: 4px;
    border:none;
    border-radius: 16px !important;
    
   
    
    
    
 }
 .col a{
    
    text-decoration: none;
    color: white;

    

 }
 
 
 .ICONES:hover{
    width: 80px;
   -webkit-transform: translate(2em,0);
   -moz-transform: translate(2em,0);
   -o-transform: translate(2em,0);
   -ms-transform: translate(2em,0);
   transform: translate(2em,0);
   -webkit-transition: 1s ease-in;
   -moz-transition: 1s ease-in;
   -o-transition: 1s ease-in;
   transition: 0.3s ease-in;
}

 .CONTAINER{
   
   margin-left: 1%;
   margin-right: 1%;
   overflow-x: hidden;
} 
.CONTAINER  .col{
    height:200px;
    
    margin-top: 2%;
    margin-bottom: 8%;
    overflow:hidden;
    padding: 1%;
    border-radius: 4%;
    box-shadow:1px 1px 3px 1px #a0939388;
    background:white;
}
.texts{
    padding:2%;
    color:black;
    
}
.CONTAINER  .col img{
    border-radius: 4%;
}
.CONTAINER  .col:hover{
    background-color:rgb(231, 230, 230);
    box-shadow:5px 5px 8px rgba(25, 0, 255, 0.246);
    
}
.hom-next-space{
    margin-bottom: 4%;
}
.texts:hover{
    color: black;
}



@media screen and (max-width:600px){
    .CONTAINER  .col{
        width: 80%;
        margin-left:10% ;
        margin-right:10% ;
        box-shadow:2px 3px 7px rgb(153, 150, 150);
        
        
    }
    .CONTAINER  .col{
        height: 245px;
    }
   
}

@media only screen and (max-width:300px) {
    .CONTAINER  .col{
        height: 200px;
    }
}



